@{
    ViewData["Title"] = "About";
}

<body>

    <h1 style="color:#d39f66; text-align: center">@ViewData["Title"]</h1>

    <p style="color:#d39f66; text-align: center" >This is a simple CRUD application built using ASP.NET, as part of a SFIA Project.</p>

</body>