
<h2>Upload Image</h2>
<p>Please note: supported file types are .jpg, .jpeg and .png files</p>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="fileUpload" />
    <input type="submit" value="Upload" />
</form>
