@model IEnumerable<RecipeBlogLibrary.Models.RecipeCard>

@{ ViewData["Title"] = "Index"; }

<h1>Home</h1>

<p>
    <a asp-action="CreateRecipe">Create New Post</a>
</p>
<div class="card-deck">
    @foreach (var item in Model)
    {
<div class="card">
    <img class="card-img-top" src="data:image/jpg;base64, @item.ImageURL" style="height:128px; width:200px" alt="Recipe's image">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
    </div>
</div>}
</div>
